---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<h2>Journal Articles</h2>
<p><i>High-impact research published in international peer-reviewed journals.</i></p>

{% for post in site.publications reversed %}
  {% if post.type == 'journal' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<br><br>

<h2>Conference Papers (In Spanish)</h2>
<p><i>Contributions and presentations in regional and national engineering congresses.</i></p>

{% for post in site.publications reversed %}
  {% if post.type == 'conference' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}



